* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.body {
    background: #150022;
    color: #f3f3f3;
}
.h1 {
    background: #2e0058;
    color: #f3f3f3;
    text-align: center;
    font-size: 1.75rem;
    padding: 18px 0;
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input {
    width: 550 px;
}
.weather-input input {
    width: 100%;
    height: 30px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
}
.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #f3f3f3;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #2e0058;
}
.weather-input .search-history {
    background: #8933da;
}
.weather-input .divider {
    height: 1px;
    width: 100%;
    background: #bbb;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .divider::before {
  content: "Search History";
  color: #f3f3f3;
  font-size: 12px;
  padding: 0 15px;
  margin-top: -4px;
  background: #150022;
}
.weather-data {
    width: 100%;
}
.current-weather {
    background: #2e0058;
    color: #f3f3f3;
    padding: 20px 70px 20px 20px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
}
.current-weather h2 {
    font-size: 16px;
}
.current-weather h4 {
    margin-top: 12px;
    font-size: 16px;
    font-weight:500;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}
.days-forecast h2 {
    font-size: 16px;
    margin: 20px 0;
}
.weather-cards {
    display: flex;
    gap: 20px;
}
.weather-cards .card {
    list-style: none;
    background: #2e0058;
    color: #f3f3f3;
    padding: 18px;
    border-radius: 5px;
    width: calc(100% / 5);
}
.weather-cards .card h2 {
    font-size: 16px;
}
.weather-cards .card h4 {
    font-size: 12px;
}
.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}
